// component name
const componentName: string = "%%camelCaseModuleName%%";
//  init debug tool
const debug = require("debug")(`lib:${componentName}`);


/**
 * %%camelCaseModuleName%%
 */
function %%camelCaseModuleName%%() {

}

export { %%camelCaseModuleName%% as default }
