// @ts-ignore
import { %%pascalCaseModuleName%% } from "../src/%%pascalCaseModuleName%%";

describe("%%pascalCaseModuleName%%", () => {
  it("should be defined", () => {
    expect(%%pascalCaseModuleName%%).toBeDefined();
  });
});
