# %%dashCaseModuleName%%

## About

// TODO

## Installation

```shell script
$ npm install @wbe/%%dashCaseModuleName%%
```

## Usage

```js
import { %%camelCaseModuleName%% } from "@wbe/%%dashCaseModuleName%%;"
```

// TODO

## Credits

© Willy Brauner

## Licence

MIT
